---
import Layout from "../layouts/Layout.astro";

---

<Layout>
  <div class="container">
    <div>
      <h4 id="click" transition:name="augusts7-title">Vētra</h4>
      <p class="story">Noskaties video... 
      </p>
    </div>
    <div class="img-wrapper">
      <video autoplay loop width="920" controls>
        <source src="https://manavasara.blob.core.windows.net/manavasara/augusts7.mp4?sp=r&st=2023-09-10T10:54:58Z&se=2023-09-16T18:54:58Z&sv=2022-11-02&sr=b&sig=Ld9QJxMnaNvuIUbqNKmd%2Bg5ZAHvbF8sfOFAMuVeipHw%3D" type="video/mp4" />
      </video>
    </div>
  </div>
  
</Layout>

<!-- <script is:inline>
  document.getElementById("click").addEventListener("click", () => {
    history.back();
  })
</script> -->

<style>

  .container {
    display:flex;
    flex-direction:column;
    gap: 2rem;
  }

</style>