---
import Layout from "../layouts/Layout.astro";

---

<Layout>
  <audio autoplay src="https://manavasara.blob.core.windows.net/manavasara/julijs15.mp3?sp=r&st=2023-09-10T10:53:03Z&se=2023-09-16T18:53:03Z&sv=2022-11-02&sr=b&sig=WrZyK%2BugHudmEDIhKtHvoYPHvQ%2BAHm5wPPBbVy%2BxTrU%3D" loop="loop"></audio>

  <div class="container">
    <div class="img-wrapper">
      <video autoplay muted loop width="560">
        <source src="https://manavasara.blob.core.windows.net/manavasara/julijs15.mp4?sp=r&st=2023-09-10T10:53:31Z&se=2023-09-16T18:53:31Z&sv=2022-11-02&sr=b&sig=NjROHr49S6TzxgCW4Q%2BU7EdHiRk1DCwRPrWPS9yj0Gg%3D" type="video/mp4" />
      </video>
    </div>
    <div>
      <h4 id="click" transition:name="julijs15-title">Zāģis</h4>
      <p class="story">Es nezinu, kāpēc tevi tur nesatiku, tomēr 15. - 16. jūlijā
        tepat Vaivē bija roka / metāla festivāls <em>Zāģis</em>. Lielākā daļa cilvēku,
        lai arī apmeklētāji kādi 300, viens otru zināja, tāpēc ļoti droša atmosfēra.
        Tiekās nākošgad!
      </p>
    </div>
  </div>
  
</Layout>

<!-- <script is:inline>
  document.getElementById("click").addEventListener("click", () => {
    history.back();
  })
</script> -->

<style>
  h4 {
    text-align: right;
  }
  p {
    text-align: right;
  }

  .container {
    display:flex;
    gap: 4rem;
  }

</style>